* {
    margin: 0;
    outline: 0;
    padding: 0;
    font-size: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.35)
}

html {
    height: 100%;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-size: .7rem;
    line-height: 1.231;
    -webkit-touch-callout: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    position: relative
}

img {
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}

.body {
    width: 100%;
    margin: auto;
    -webkit-background-size: 100% auto;
    min-height: 100%;
    background: #424242;
    position: relative
}

.stage {
    width: 100%;
    -webkit-perspective: 800;
    -moz-perspective: 800;
    -ms-perspective: 800;
    -o-perspective: 800;
    perspective: 800;
    -webkit-perspective-origin: 50% -6rem;
    -moz-perspective-origin: 50% -6rem;
    -ms-perspective-origin: 50% -6rem;
    -o-perspective-origin: 50% -6rem;
    perspective-origin: 50% -6rem;
    position: relative;
    z-index: 80
}

.stage > img {
    width: 100%;
    height: auto;
    pointer-events: none
}

.cube {
    width: 0;
    height: 0;
    border-radius: 15rem;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 10.8rem;
    z-index: 70;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible
}

.plane {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 60;
    left: 50%;
    top: 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible
}

.plane > span {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -0.5rem;
    display: block;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    transition: background-position .5s ease-in;
    -o-transition: background-position .5s ease-in;
    -ms-transition: background-position .5s ease-in;
    -moz-transition: background-position .5s ease-in;
    -webkit-transition: background-position .5s ease-in
}

.homeBtnBox {
    z-index: 121
}

.resulte-gift-showMyAward {
    position: relative;
    z-index: 9999
}

.plane > span > figure {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    pointer-events: none
}

.home {
    position: relative;
    z-index: 90
}

.cube.on, .cube.on .plane > span {
    -webkit-animation: spin 10s infinite linear;
    -moz-animation: spin 10s infinite linear;
    -o-animation: spin 10s infinite linear;
    animation: spin 10s infinite linear
}

.plane > span.broken figure {
    background-image: url(/image/zajindan/egg2.png?v=201605161742)
}

#shape.pause, #shape.pause .plane > span {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -ms-animation-play-state: paused !important;
    -o-animation-play-state: paused !important;
    animation-play-state: paused !important
}

.plane.one {
    -webkit-transform: rotateZ(90deg) translateX(80px) rotateX(-90deg);
    -moz-transform: rotateZ(90deg) translateX(80px) rotateX(-90deg);
    -ms-transform: rotateZ(90deg) translateX(80px) rotateX(-90deg);
    -o-transform: rotateZ(90deg) translateX(80px) rotateX(-90deg);
    transform: rotateZ(90deg) translateX(80px) rotateX(-90deg)
}

.plane.two {
    -webkit-transform: rotateZ(210deg) translateX(80px) rotateX(-90deg);
    -moz-transform: rotateZ(210deg) translateX(80px) rotateX(-90deg);
    -ms-transform: rotateZ(210deg) translateX(80px) rotateX(-90deg);
    -o-transform: rotateZ(210deg) translateX(80px) rotateX(-90deg);
    transform: rotateZ(210deg) translateX(80px) rotateX(-90deg)
}

.plane.three {
    -webkit-transform: rotateZ(330deg) translateX(80px) rotateX(-90deg);
    -moz-transform: rotateZ(330deg) translateX(80px) rotateX(-90deg);
    -ms-transform: rotateZ(330deg) translateX(80px) rotateX(-90deg);
    -o-transform: rotateZ(330deg) translateX(80px) rotateX(-90deg);
    transform: rotateZ(330deg) translateX(80px) rotateX(-90deg)
}

.cube.on > .one > span {
    -webkit-animation-name: spin1;
    -webkit-transform: rotateY(90deg);
    z-index: 50;
    -moz-animation-name: spin1;
    -webkit-transform: rotateY(90deg);
    z-index: 50;
    -o-animation-name: spin1;
    -webkit-transform: rotateY(90deg);
    z-index: 50;
    animation-name: spin1;
    -webkit-transform: rotateY(90deg);
    z-index: 50
}

.cube.on > .two > span {
    -webkit-animation-name: spin2;
    -webkit-transform: rotateY(210deg);
    -moz-animation-name: spin2;
    -webkit-transform: rotateY(210deg);
    -o-animation-name: spin2;
    -webkit-transform: rotateY(210deg);
    -webkit-animation-name: spin2;
    -webkit-transform: rotateY(210deg)
}

.cube.on > .three > span {
    -webkit-animation-name: spin3;
    -webkit-transform: rotateY(330deg);
    -moz-animation-name: spin3;
    -webkit-transform: rotateY(330deg);
    -o-animation-name: spin3;
    -webkit-transform: rotateY(330deg);
    animation-name: spin3;
    -webkit-transform: rotateY(330deg)
}

@-webkit-keyframes spin3 {
    0% {
        -webkit-transform: rotateY(330deg)
    }
    100% {
        -webkit-transform: rotateY(690deg)
    }
}

@-moz-keyframes spin3 {
    0% {
        -moz-transform: rotateY(330deg)
    }
    100% {
        -moz-transform: rotateY(690deg)
    }
}

@-o-keyframes spin3 {
    0% {
        -o-transform: rotateY(330deg)
    }
    100% {
        -o-transform: rotateY(690deg)
    }
}

@keyframes spin3 {
    0% {
        transform: rotateY(330deg)
    }
    100% {
        transform: rotateY(690deg)
    }
}

@-webkit-keyframes spin2 {
    0% {
        -webkit-transform: rotateY(210deg)
    }
    100% {
        -webkit-transform: rotateY(570deg)
    }
}

@-moz-keyframes spin2 {
    0% {
        -moz-transform: rotateY(210deg)
    }
    100% {
        -moz-transform: rotateY(570deg)
    }
}

@-o-keyframes spin2 {
    0% {
        -o-transform: rotateY(210deg)
    }
    100% {
        -o-transform: rotateY(570deg)
    }
}

@keyframes spin2 {
    0% {
        transform: rotateY(210deg)
    }
    100% {
        transform: rotateY(570deg)
    }
}

@-webkit-keyframes spin1 {
    0% {
        -webkit-transform: rotateY(90deg)
    }
    100% {
        -webkit-transform: rotateY(450deg)
    }
}

@-moz-keyframes spin1 {
    0% {
        -moz-transform: rotateY(90deg)
    }
    100% {
        -moz-transform: rotateY(450deg)
    }
}

@-o-keyframes spin1 {
    0% {
        -o-transform: rotateY(90deg)
    }
    100% {
        -o-transform: rotateY(450deg)
    }
}

@keyframes spin1 {
    0% {
        transform: rotateY(90deg)
    }
    100% {
        transform: rotateY(450deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotateX(90deg) rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateX(90deg) rotateZ(360deg)
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotateX(90deg) rotateZ(0deg)
    }
    100% {
        -moz-transform: rotateX(90deg) rotateZ(360deg)
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotateX(90deg) rotateZ(0deg)
    }
    100% {
        -o-transform: rotateX(90deg) rotateZ(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotateX(90deg) rotateZ(0deg)
    }
    100% {
        transform: rotateX(90deg) rotateZ(360deg)
    }
}

.stage .hit {
    position: absolute;
    z-index: 300;
    margin-top: -2rem;
    margin-left: 3rem;
    pointer-events: none;
    display: none
}

.stage .hit img {
    width: 3rem;
    height: auto
}

.stage .hit.on {
    display: block;
    -webkit-animation: hit .3s 1 forwards;
    -moz-animation: hit .3s 1 forwards;
    -o-animation: hit .3s 1 forwards;
    animation: hit .3s 1 forwards;
    transform-origin: 50% 80%
}

@-webkit-keyframes hit {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(-45deg)
    }
}

@-moz-keyframes hit {
    0% {
        -moz-transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(-45deg)
    }
}

@-o-keyframes hit {
    0% {
        -o-transform: rotate(0deg)
    }
    100% {
        -o-transform: rotate(-45deg)
    }
}

@keyframes hit {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(-45deg)
    }
}

.gameInfoBox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 130;
    margin: auto
}

.ruleImg {
    z-index: 130
}

.soundIcon {
    z-index: 120
}

.gameInfo {
    color: #fff;
    font-size: .65rem;
    padding: .5rem 0 0;
}

.gameInfo .joinInfoBox {
    text-align: center;
    height: 2.25rem;
    position: relative
}

.gameInfo .joinInfoBox p {
    line-height: 1.25rem
}

.specil {
    font-size: .7rem;
    color: #fec200
}